<p style="text-align:center">

    <img ng-src="img/icon.png" width="20%">
</p>

<article>
    <h2>The Event Scheduler App</h2>
    <p>A simple OpenShift3 app developed using the full-stack JavaScript with MongoDB, Express, AngularJS, and Node.js.</p>
    <p>It's for experimental purposes only.</p>
</article>

<div class="row">
    <div class="col-md-3">
        <h2>
            <strong>M</strong>ongoDB</h2>
        <p>
            <a target="_blank" href="https://www.mongodb.com/" rel="noopener">
                <img style="width: 50%;" ng-src="img/mongodb.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>E</strong>xpress</h2>
        <p>
            <a target="_blank" href="https://expressjs.com/" rel="noopener">
                <img style="width: 50%;" ng-src="img/express.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>A</strong>ngularJS</h2>
        <p>
            <a target="_blank" href="https://angularjs.org/" rel="noopener">
                <img style="width: 50%;" ng-src="img/angular.png" />
            </a>
        </p>
    </div>
    <div class="col-md-3">
        <h2>
            <strong>N</strong>ode.js</h2>
        <p>
            <a target="_blank" href="https://nodejs.org/" rel="noopener">
                <img style="width: 50%;" ng-src="img/node.png" />
            </a>
        </p>
    </div>
</div>

<div class="alert alert-dark" role="alert">
    <strong>Note:</strong> If you find any bugs or issues please report them
    <a style="margin-left: 1px;" href="https://github.com/AhmedAlatawi/event-scheduler/issues">here</a>
</div>